*{
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}


body{
    display: flex;
    height: 100vh;
    flex-direction: column;
   
}

.body {
    flex: 1;
}

a {
    text-decoration: none; 
    color: inherit;
}

.header {
    padding: 12px 200px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 12px;
   
}

li {
}

.card-1, .footer, .header {
    background-color: #1f2937;
}

.card-1 h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.card-1, .header li {
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

button, .action-container {
    background-color: #3882f6;
}

.card-1 {
    padding: 64px 200px;
    display: flex;
}

.card-1 img {
    background-color: grey;
}

.left button{
    margin-top: 10px;
    border: none;
}

.card-1 .left, .card-1 img{
    flex: 1;
  
}

img{
    text-align: center;
    
}

.card-2 {
    padding: 32px 200px;
    text-align: center;
}

.card-2 h2{
    padding-bottom: 32px;
}

.element-container{
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    justify-content: center;
}

.element {
    display: flex;
    flex-direction: column;
    width: 140px;
   
}

.element img {
    height: 120px;
    width: 120px;
    border: 3px solid #3882f6 ;
    border-radius: 10px;
    display: block;
    
}

.card-2 h2{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.card-3{
    padding: 64px 200px;
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    flex-direction: column;
   
   
    margin: auto;
    padding: 0px 96px 0px 96px;
}

.card-3 h3 {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    
   
}

.card-3 h4 {
    align-self: flex-end;
    padding: 0 36px ;
}

.card-4 {
    padding: 64px 200px;
    
}

.action-container{
    display: flex;
    padding: 64px 100px ;
    color: #e5e7eb;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    
}

.footer {
    color: #e5e7eb;
}

button {
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    margin: 0;
    color: #e5e7eb;
    font-weight: 900;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
    
}

